# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/

# Node
node_modules/
dist/
build/
.next/
.expo/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Firebase secrets
apps/backend/firebase/firebase_service_account.json

